* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: dodgerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 30%;
}

input[type=submit]:hover {
  background-color: dodgerblue;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin:20px;
  
}

.container-src {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  margin:5px;
  text-align: center;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.imgselection {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: inline-block;
  border: 1px solid black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.3s;
  border-radius: 5px;
}

.primage {
  width: 250px;
  height: 250px
}

.card-row {
  text-align: center;
  margin: 4px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 30px;
  background-color: dodgerblue;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

p {
  font-size: 16px;
}

.column, input[type=submit] {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 6px;
  padding: 10px
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    padding: 10px;
  }
  .column {
    float: left;
    width: 100%;
    padding: 5px;
    margin-top: 6px;
  }
  .card-row {
    grid-template-columns: repeat(2, 1fr);
  }
  p {
    font-size: 14px;
  }
  .primage {
    width: 150px;
    height: 150px;
    max-height: 150px;
  }
}